# Terraform files
.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variable files
*.tfvars
*.tfvars.json

# Crash logs
crash.log
crash.log.txt

# Plan files
*.tfplan
tfplan

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
.DS_Store

# Environment variables
.env
.env.local

# OS
Thumbs.db

# Misc
.terraform.tfstate.*.backup
